<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>
<p>
  Contact <a href="http://michaelhartl.com">Michael Hartl</a>, the author of the <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>. 
</p>
<p>
  Contact <a href="https://py.poujade.org/contact">Pierre-Yves Poujade</a>, the developer learning <a href="http://rubyonrails.org">Ruby on Rails</a> using this tutorial.
</p>